label.error{
  font-size: 12px !important;
}
#tours-loader {
  width: 100%;
  /*position: absolute;
  top: 10%;
  transform: translateY( -50% );*/
  text-align: center;
  margin: 10px 0px -20px 0px;
}

#tours-loader span{ 
  padding: 8px 21px;
  font-size: 18px;
  font-family: "HelveticaNeue";
}
.padding-left-5{
  padding-left: 5px;
}