.account-block {
    width: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: stretch;
    .account-left {
        width: $accountColumnwidth;
        float: left;
        background-color: $white;
        border-right: 1px solid $light;
        transition: all 0.5s ease-out;
        padding: 15px;
        box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.18), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        ul {
            li {
                a {
                    color: $secondary;
                    padding: 15px 0;
                    display: inline-block;
                    i {
                        font-size: 1.2rem;
                    }
                    &:hover {
                        color: $theme-color;
                    }
                }
                &.active {
                    a {
                        color: $theme-color;
                        font-family: $font-weight-bold;
                    }

                }
            }
        }
    }

    .account-right {
        width: calc(100% - #{$accountColumnwidth});
        float: left;
        transition: all 0.5s ease-out;
        position: relative; // @include media-breakpoint-down(md){
        //     width: 100%;
        // }
        .profile-steps {
            .circle {
                width: 30px;
                height: 30px;
                background-color: $white;
                border: solid 1px $gray-300;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                position: relative;
                z-index: 1;
                display: inline-block;
            }
            ul {
                @include media-breakpoint-down(sm) {
                    display: flex;
                }
                li:not(:first-of-type) {
                    &::before {
                        content: "";
                        width: 100%;
                        border-bottom: solid 1px $gray-300;
                        display: block;
                        position: relative;
                        top: 27%;
                        right: 50%;
                        @include media-breakpoint-down(sm) {
                            top: 20%;
                        }
                    }

                }
                li.profile-fill {
                    .circle {
                        background-color: $theme-color;
                        border-color: $theme-color;
                    }
                    &::before {
                        border-bottom: solid 1px $theme-color;
                    }
                }
                li.profile-halffill {
                    .circle {
                        border-color: $theme-color;
                    }
                    &::before {
                        border-bottom: dotted 1px $theme-color;
                    }
                }
                li {
                    float: left;
                    width: 20%;
                    .nav-link {
                        color: $primary;
                        &:hover {
                            border-color: transparent;
                            color: $theme-color;
                            outline: none;
                        }
                        &:focus {
                            outline: none;
                            border-color: transparent;
                        }
                    }
                }
            }

        }

        .payment-steps {
            .circle {
                border-color: $theme-color;
                color: $theme-color;
            }
            ul {
                li:not(:first-of-type) {
                    &::before {
                        border-bottom: dotted 1px $theme-color;
                    }
                }
            }
        }

        .progress {
            border-radius: 20px;
            .progress-bar {
                border-radius: 20px;
                background-color:$theme-color;
            }
        }
        .dragdrop-list {
            ul {
                li {
                    width: 110px;
                    height: 110px;
                    border: $border-width solid $light;
                    float: left;
                    margin: 4px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .tripBooking {
            ul {
                li {
                    a {
                        font-size: 1.3rem;
                        color: $theme-text-color;
                    }
                }
            }
        }
        .barcode-box {
            border-top: dashed 1px $light;
            &::before {
                content: "";
                display: inline-block;
                height: 16px;
                width: 15px;
                background-color: $white;
                position: absolute;
                left: -8px;
                top: -9px;
                border-radius: 50%;
                background: $white;
                border: 0 solid $white;
                box-shadow: inset -2px 0px 3px 0px rgba(0, 0, 0, 0.09);
            }
            &::after {
                content: "";
                display: inline-block;
                height: 16px;
                width: 15px;
                background-color: $white;
                position: absolute;
                right: -8px;
                top: -9px;
                border-radius: 50%;
                background: $white;
                border: 0 solid $white;
                box-shadow: inset 2px 0px 3px 0px rgba(0, 0, 0, 0.09);
            }

        }
        .trip-viewmore {
            i {
                position: relative;
                top: 1px;
            }
            &.active {
                .ic-expand_more {
                    &::before {
                        content: '\e810';
                    }
                }
            }
        }
        .tripDetails{
            .ic-calendar{
                font-size: 1.35rem;
                &::before{
                    margin-left: 0px;
                }
            }
        }
        .user-hoteldetails{
            .accommodation_tabs_content{
                .accommodation_accordion {
                    .card-header{
                        cursor: pointer;
                    }
                }
            }
        }
        .tripDetails-wrapper{
            display: none;
            .tripDetails-container {
                box-shadow: $box-shadow;
                .tripDetails-top {
                    background-color: #D8D8D8;
                    padding: 10px;
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
            table {
                thead {
                    tr {
                        th {
                            background-color: $light;
                            font-family: $font-weight-bold;
                        }
                    }
                }
            }
            .itinerary_hotel_list {
                box-shadow: $box-shadow;
                h4{
                    font-size: 1.429rem;
                }
                .hotlename{
                    i{
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }

        .jcarousel-wrapper {
            margin: 20px auto 0px auto;
            position: relative;
            .jcarousel {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 190px;
                overflow: hidden;
                ul {
                    width: 20000em;
                    position: relative;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        width: 200px;
                        float: left;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 0 4px;
                        &:first-child {
                            padding-left: 0px;
                        }
                        img {
                            display: block;
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .jcarousel-control-prev,
        .jcarousel-control-next {
            position: absolute;
            top: 45%;
            transform: translateY(-45%);
            width: 44px;
            height: 44px;
            text-align: center;
            color: #505050;
            text-decoration: none;
            padding: 5px;
            font-size: 24px;
            font-weight: bold;
            z-index: 9;
            &:hover {
                color: #505050;
                span {
                    display: block;
                }
            }
        }

        .jcarousel-control-prev {
            left: 0px;
        }
        .jcarousel-control-next {
            right: 0;
        }

        .jcarousel-control-prev.inactive,
        .jcarousel-control-next.inactive {
            background-color: #EEEEEE;
            cursor: default;
        }
        .jcarousel-pagination {
            position: absolute;
            bottom: -33px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            margin: 0;
            width: 100%;
            text-align: center;
        }
        .jcarousel-pagination {
            a {
                text-decoration: none;
                display: inline-block;
                font-size: 11px;
                height: 10px;
                width: 10px;
                line-height: 10px;
                background: #fff;
                color: #4E443C;
                border-radius: 10px;
                text-indent: -9999px;
                margin-right: 6px;
                -webkit-box-shadow: 0 0 2px #4E443C;
                -moz-box-shadow: 0 0 2px #4E443C;
                box-shadow: 0 0 2px #4E443C;
            }
            a.active {
                background: #4E443C;
                color: #fff;
                opacity: 1;
                -webkit-box-shadow: 0 0 2px #F0EFE7;
                -moz-box-shadow: 0 0 2px #F0EFE7;
                box-shadow: 0 0 2px #F0EFE7;
            }
        }
        .btn-white{
            &:hover{
                background-color: $theme-color;
                color: $white;
            }
            &.active{
                background-color: $theme-color;
                color: $white;
            }
        }

        /*************** SCROLLBAR BASE CSS ***************/
        .scroll-wrapper {
            overflow: hidden !important;
            padding: 0 !important;
            position: relative;
        }
        .scroll-wrapper > .scroll-content {
            border: none !important;
            box-sizing: content-box !important;
            height: auto;
            left: 0;
            margin: 0;
            max-height: none;
            max-width: none !important;
            overflow: scroll !important;
            padding: 0;
            position: relative !important;
            top: 0;
            width: auto !important;
        }
        .scroll-wrapper > .scroll-content::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
        .scroll-element {
            display: none;
        }
        .scroll-element,
        .scroll-element div {
            box-sizing: content-box;
        }
        .scroll-element.scroll-x.scroll-scrollx_visible,
        .scroll-element.scroll-y.scroll-scrolly_visible {
            display: block;
        }
        .scroll-element .scroll-bar,
        .scroll-element .scroll-arrow {
            cursor: default;
        }
        .scroll-textarea {
            border: 1px solid #cccccc;
            border-top-color: #999999;
        }
        .scroll-textarea > .scroll-content {
            overflow: hidden !important;
        }
        .scroll-textarea > .scroll-content > textarea {
            border: none !important;
            box-sizing: border-box;
            height: 100% !important;
            margin: 0;
            max-height: none !important;
            max-width: none !important;
            overflow: scroll !important;
            outline: none;
            padding: 2px;
            position: relative !important;
            top: 0;
            width: 100% !important;
        }
        .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
        /*************** SIMPLE OUTER SCROLLBAR ***************/
        .scrollbar-outer > .scroll-element,
        .scrollbar-outer > .scroll-element div {
            border: none;
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 10;
        }
        .scrollbar-outer > .scroll-element {
            background-color: #ffffff;
        }
        .scrollbar-outer > .scroll-element div {
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }
        .scrollbar-outer > .scroll-element.scroll-x {
            bottom: 0;
            height: 12px;
            left: 0;
            width: 100%;
        }
        .scrollbar-outer > .scroll-element.scroll-y {
            height: 100%;
            right: 0;
            top: 0;
            width: 12px;
        }
        .scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
            height: 5px;
            top: 2px;
        }
        .scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
            left: 2px;
            width: 5px;
        }
        .scrollbar-outer > .scroll-element .scroll-element_outer {
            overflow: hidden;
        }
        .scrollbar-outer > .scroll-element .scroll-element_track {
            background-color: #ffffff;
        }
        .scrollbar-outer > .scroll-element .scroll-element_outer,
        .scrollbar-outer > .scroll-element .scroll-element_track,
        .scrollbar-outer > .scroll-element .scroll-bar {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
        .scrollbar-outer > .scroll-element .scroll-bar {
            background-color: rgba(33, 33, 33, .7);
        }
        .scrollbar-outer > .scroll-element .scroll-bar:hover {
            background-color: rgba(33, 33, 33, .7);
        }
        .scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
            background-color: #919191;
        }
        /* scrollbar height/width & offset from container borders */
        .scrollbar-outer > .scroll-content.scroll-scrolly_visible {
            left: -12px;
            margin-left: 12px;
        }
        .scrollbar-outer > .scroll-content.scroll-scrollx_visible {
            top: -12px;
            margin-top: 12px;
        }
        .scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
            min-width: 10px;
        }
        .scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
            min-height: 10px;
        }
        /* update scrollbar offset if both scrolls are visible */
        .scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
            left: -14px;
        }
        .scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
            top: -14px;
        }
        .scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
            left: -14px;
        }
        .scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
            top: -14px;
        }
    }

    @include media-breakpoint-down(md) {
        .account-left {
            float: none;
            position: absolute;
            z-index: 99;
            margin-left: 0px;
            &.active {
                margin-left: -$accountColumnwidth;
            }
        }
        .account-right {
            width: 100%;
        }
    }

}
